@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
body {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1 {
    font-size: 50px;
    font-weight: normal;
}
p {
    color: dimgray
}
section {
    height: 550px;
    padding-bottom: 100px;
}
.text-highlight {
    color: orange;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img {
    width: 100%;
}
.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.text-btn {
    background-image: linear-gradient(45deg, lightsalmon, tomato) ;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
    color: white;
}
.dream-area {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.experince-area {
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left center;
}
.single-experience h2 {
    font-size: 40px;
}
.single-experience {
    box-shadow: 10px 10px 40px #000;
    height: 80%;
    background: white;
}
#fullstac {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, tomato, lightsalmon);
    border-image-slice: 1;
}
#babydeveloper {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, lightblue);
    border-image-slice: 1;
}